<h2 id="text-1"><%= thisUser.name %>'s Profile</h2>


<!-- <p>Id: <%= thisUser.id %></p> -->
<div class="container">
    <div class="row">
        <div class=" col-lg-6 con-center-1 px-5">
            <p><span class= "profile-title"> Name | </span> <%= thisUser.name %></p>
            <% if (thisUserinfo){ %>
                    <p><span class= "profile-title"> About Me | </span> <%= thisUserinfo.about %></p>
        </div>
        <div class=" col-lg-6 con-center-2">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <img id="profile-image" src="<%= thisUserinfo.photo %>" alt="user profile picture" >
    
                    <% } else {%>
                        <p>No information about this user</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>





<% let totalScore = 0 %>
<% for (let i=0; i < alluserTasks.length; i++ ){ %>
     <% totalScore += parseInt( alluserTasks[i].carbon) %> 
<% } %>
<h2 id="text-1">Your Total CarbonFootprint: <%= totalScore %></h2> 

<h5 style="text-align:center;">Search History</h5 >

<% for (let i=0; i < alluserTasks.length; i++ ){ %>
    <div class="container">
        <div class="row px-5 pt-3 pb-2" id="history-container">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <p> <%= alluserTasks[i].title %>  </p>
            </div>
            <div class="col-lg-3">
                <p>Carbon Footprint Amount: <%= alluserTasks[i].carbon %> kg </p> 
            </div>
            <div class="col-lg-3"></div>
            
        </div>
    </div>
           
<% } %>
