<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>

<!-- <p>Id: <%= id %></p> -->
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>

<% if (thisUserinfo){ %>
        <p>about me: <%= thisUserinfo.about %></p>
        <img src="<%= thisUserinfo.photo %>" alt="user profile picture" style= " height: 200px; width: auto">
        <a href = '/aboutedit'>edit my info</a>
<% } else {%>
        <a href = '/about'>Add more information about myself</a>
<% } %>




<% let totalScore = 0 %>
<% for (let i=0; i < alluserTasks.length; i++ ){ %>
     <% totalScore += parseInt( alluserTasks[i].carbon) %> 
<% } %>
<p>YOUR TOTAL CARBONFOOTPRINT: <%= totalScore %></p> 

<h2>Your search history</h2>

<% for (let i=0; i < alluserTasks.length; i++ ){ %>
        <p> Task Title: <%= alluserTasks[i].title %> : <%= alluserTasks[i].carbon %> </p> 
        <p>category:<a href='users/category/<%= alluserTasks[i].categories[0].name %>'> <%= alluserTasks[i].categories[0].name %></a></p>
        
        <a href='/profile/editTask/<%= alluserTasks[i].id %>'>Edit</a>
        <form method="POST" action="/profile/<%= alluserTasks[i].id %>?_method=DELETE">
                <input type="submit" value= "Delete">
        </form>
        
<% } %>
