<h2 id="text-1">Your Profile Page</h2>


<!-- <p>Id: <%= id %></p> -->
<div class= "profile-container">
        <div class=" profile-item">
                <p><span class= "profile-title">Name |</span> <%= name %></p>
                <p><span class= "profile-title">Email |</span> <%= email %></p>

                <% if (thisUserinfo){ %>
                        <p><span class= "profile-title">About Me |</span> <%= thisUserinfo.about %></p>
        </div>
        <div class=" profile-item">
                        <img id="profile-image" src="<%= thisUserinfo.photo %>" alt="user profile picture">
                        <a id="edit-link" href = '/profile/editAbout/<%= thisUserinfo.id %>'>Edit My Info</a>
                <% } else {%>
                        <a href = '/about'>Add more information about myself</a>
                <% } %>
        </div>
</div>





<% let totalScore = 0 %>
<% for (let i=0; i < alluserTasks.length; i++ ){ %>
     <% totalScore += parseInt( alluserTasks[i].carbon) %> 
<% } %>
<h2 id="text-1">Your Total CarbonFootprint: <%= totalScore %></h2> 

<h5 style="text-align:center;">Search History</h5 >

<% for (let i=0; i < alluserTasks.length; i++ ){ %>
        <div id="history-container">
                <div id ="history-title">
                        <div>
                                <a class="green" href='users/result/<%= alluserTasks[i].categories[0].name %>/<%= alluserTasks[i].title %>'> <%= alluserTasks[i].title %> </a> | <a class="green" href='/profile/editTask/<%= alluserTasks[i].id %>'>Edit</a>
                        </div>
                
                        <p>Carbon Footprint Amount: <%= alluserTasks[i].carbon %> kg </p> 
                        
                </div>
                <div id="history-category">
                        <p>Category:<a class="green" href='users/category/<%= alluserTasks[i].categories[0].name %>'> <%= alluserTasks[i].categories[0].name %></a></p>
                        <form method="POST" action="/profile/<%= alluserTasks[i].id %>?_method=DELETE">
                                <input type="submit" value= "Delete">
                        </form>
                </div>
                
        </div>
      
        
        
        
        
<% } %>
