<h2 id="text-1">Your Profile Page</h2>


<!-- <p>Id: <%= id %></p> -->
<div class="container">
        <div class= "row">
                <div class=" col-lg-6 con-center-1 px-5">
                        <p><span class= "profile-title">Name |</span> <%= name %></p>
                        <p><span class= "profile-title">Email |</span> <%= email %></p>
        
                        <% if (thisUserinfo){ %>
                                <p><span class= "profile-title">About Me |</span> <%= thisUserinfo.about %></p>
                </div>
                <div class=" col-lg-6 con-center-2">
                                <div class="row">
                                        <div class="col-lg-12">
                                                <img id="profile-image" src="<%= thisUserinfo.photo %>" alt="user profile picture">
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-12">
                                                <a id="edit-link" href = '/profile/editAbout/<%= thisUserinfo.id %>'>Edit My Info</a>
                                        </div>
                                </div>
                                
                               
                        <% } else {%>
                                <a href = '/about'>Add more information about myself</a>
                        <% } %>
                </div>
        </div>
</div>





<% let totalScore = 0 %>
<% for (let i=0; i < alluserTasks.length; i++ ){ %>
     <% totalScore += parseInt( alluserTasks[i].carbon) %> 
<% } %>
<h2 id="text-1">Your Total Carbon Footprint: <%= totalScore %> kg | <%= Math.floor(totalScore* 2.2) %> lbs </h2> 

<h5 style="text-align:center;">Search History</h5 >

<% for (let i=0; i < alluserTasks.length; i++ ){ %>
        <div class="container">
                <div class="row" id="history-container">
                        <div class="row px-5 pt-3 pb-2">
                                <div class="col-lg-4">
                                        <a class="green" href='users/result/<%= alluserTasks[i].categories[0].name %>/<%= alluserTasks[i].title %>'> <%= alluserTasks[i].title %> </a> | <a class="green" href='/profile/editTask/<%= alluserTasks[i].id %>'>Edit</a>
                                </div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                        <p>Carbon Footprint: <%= alluserTasks[i].carbon %> kg | <%= Math.floor(parseInt(alluserTasks[i].carbon)*(2.2)) %> lbs </p> 
                                </div>
                                
                        </div>
                        <div class="row px-5 pt-3 pb-2">
                                <div class="col-lg-4">
                                        <p>Category:<a class="green" href='users/category/<%= alluserTasks[i].categories[0].name %>'> <%= alluserTasks[i].categories[0].name %> </a></p>
                                </div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-3">
                                        <form method="POST" action="/profile/<%= alluserTasks[i].id %>?_method=DELETE">
                                                <input type="submit" value= "Delete" class="btn2 mb-2">
                                        </form>
                                </div>
                        </div>
                       
                                 
                </div>

        </div>
    
        
        
        
        
<% } %>
