<p>this is result page for our dear user!</p>

<p> your task name is: <%= searchedTask.title %></p>
<p> your carbon footprint is: <%= searchedTask.carbon %></p>
<p> your task category is: <%= searchedCat.name %></p>
<p> task details</p>
<p> activity: <%=searchedTask.detail.activity %></p>
<p> activityType: <%=searchedTask.detail.activityType %></p>
<p> country: <%=searchedTask.detail.country %></p>
<p> mode: <%=searchedTask.detail.mode %></p>