<div class="result-box">
    <p><span class= "result-title">Task Name |</span>  <%= searchedTask.title %></p>
    <p><span class= "result-title">Carbon Footprint |</span> <%= searchedTask.carbon %></p>
</div> 
<div class="result-box">
    <p> Details you enter:</p>
    <p> <span class= "result-title"> Your vehicle | </span> <%=searchedTask.detail.mode %></p>
    <p> <span class= "result-title">Country | </span> <%=searchedTask.detail.country %></p>
    <p> <span class= "result-title">Amount |</span> <%=searchedTask.detail.activity %> <%=searchedTask.detail.activityType %></p>  
</div>  
    

<a id="larr" href="/profile">&larr; Back to profile</a>