<h2 id="text-1">All your activities related to <%= category.name %></h2>

    
<% for (let i=0; i<alluserTasks.length; i++) { %>
    <div class="container">
        <% if (alluserTasks[i].categories[0].name === category.name){ %>
            <div class="row result-box">
                <p><%= alluserTasks[i].title %> | <a class="green" href='/profile/editTask/<%= alluserTasks[i].id %>'>Edit</a></p>
                <p>Carbon Footprint Amount: <%= alluserTasks[i].carbon %> kg | <%= Math.floor(parseInt(alluserTasks[i].carbon)*(2.2)) %> lbs</p> 
            </div> 
        <% } %>
    </div>
    
<% } %>


<a id="larr" href="/profile">&larr; Back to profile</a>


